@model IEnumerable<Avtomoll.ViewModel.Manager.ServiceHistoryViewModel>

@{
    ViewData["Title"] = "Заявки";
}

<h1>Заявки</h1>
<div>
<div>
    @await Component.InvokeAsync("LeadsStatusFilter")
</div>
<div>
    @await Component.InvokeAsync("LeadsCarServicesFilter")
</div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { LeadId = item.id }) 
                @Html.ActionLink("Details", "Details", new { LeadId = item.id })
            </td>
        </tr>
}
    </tbody>
</table>
