@model IEnumerable<ManagerViewModel>

@{
    ViewData["Title"] = "Список менеджеров";
}

<h1>Список менеджеров</h1>

<p>
    <a asp-action="Create">Создать нового менеджера</a>
</p>
<table class="table">
    <thead>
        <tr>
          @*  <th>
                @Html.DisplayNameFor(model => model.ManagerId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.RoleManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordConfirmation)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.ManagerId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.RoleManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordConfirmation)
            </td>*@
            <td>
                    @Html.ActionLink("Изменить", "EditManager", new {  id=item.ManagerId  }) |
                    @Html.ActionLink("Полная информация", "ManagerDetailsView", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Удаление", "DeleteManager", new {  id=item.ManagerId })
            </td>
        </tr>
}
    </tbody>
</table>
