@model IEnumerable<Avtomoll.ViewModel.ManagersManagerViewModel>

@{
    ViewData["Title"] = "Список пользователей";
}

<h1>Список пользователей</h1>

<p>
    <a asp-action="CreateManager">Создать нового пользователя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Password)
            </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.Role)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.Password)
            </td>*@
                @*   <td>
            @Html.DisplayFor(modelItem => item.Role)
            </td>*@
                <td>
                    @Html.ActionLink("Редактирование", "Edit", new {  id=item.Id  }) |
                    @Html.ActionLink("Удаление", "DeleteManagers", new {  id=item.Id  })
                </td>
            </tr>
        }
    </tbody>
</table>
