@model IEnumerable<Avtomoll.ViewModel.ManagersManagerViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Role)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
         @*   <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "DeleteManagers", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
